<nav class="desktop">  
    
        <div class="logo"><a href="/"><img src="/imagenes/barberpole-pngrepo-com.png" alt="logo"></a></div>

        <a href="#menu" class="nav_target"><img src="/imagenes/icon-menu.svg" alt="" class="nav_icon"></a>

        <div class="primary" id="menu">
            <a href="/listadoturno">Lista de Turnos</a>
            <a href="/servicios">Servicios</a>
            <a href="/">Home</a>
        </div>    
    
</nav>