<nav>  
    
        <div class="desktop">
            <div class="logo"><a href="index.html"><img src="/imagenes/logo-polo.png" alt=""></a></div>
            <div class="nombre"><h1>Barberia Filomela</h1></div>
        
            <div class="primary">
                <a href="/listadoturno">Lista de Turnos</a>
                <a href="/servicios">Servicios</a>
                <a href="/">Home</a>
            </div>
            
        
    
        </div>
    </nav>