<nav>  
    
        <div class="desktop">
            <div class="logo"><a href="index.html"><img src="/imagenes/logo-polo.png" alt=""></a></div>
            <div class="nombre"><h1>Barberia Filomela</h1></div>
        
            <div class="primary">
                <a href="/servicios.html">Servicios</a>
                <a href="#">Acerca de</a>
                <a href="/index.html">Home</a>
            </div>
            
        
    
        </div>
    </nav>